{
    "client_id": "950420436020240415",
    "state": "Powered by rich-go",
    "details": "A very difficult game",
    "large_id": "pfpimg",
    "large_img_text": "pfp",
    "small_id": "verifiedimg",
    "small_img_text": "verified",
    "buttons": 2,
    "button_1": "My Website",
    "button_1_url": "https://j1233.minetest.land/",
    "button_2": "My GitHub",
    "button_2_url": "https://github.com/Minetest-j45",
    "party_players": 1,
    "max_players": 8
}