{
    "clientid": "950420436020240415",
    "state": "Powered by rich-go",
    "details": "A very difficult game",
    "largeid": "pfpimg",
    "largeimgtext": "pfp",
    "smallid": "verifiedimg",
    "smallimgtext": "verified",
    "buttons": 2,
    "button1": "My Website",
    "button1url": "https://j1233.minetest.land/",
    "button2": "My GitHub",
    "button2url": "https://github.com/Minetest-j45"
}